body {
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}

aside {
    float: left;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    width: 20%;
    padding: 2.5%;
    height: 100vh;
    color: #fff;
    border-right: 2px solid #2c2c2c
}

aside img {
    width: 80px;
    float: left;
}

aside .logo{
    font-size: 40px;
    margin-left: 10px;
    font-weight: bold;

}

aside h3 {
    margin-top: 50px;
    font-size: 25px;
}

aside ul{list-style: none}

aside ul li{
    color: #fff;
    display: block;
    margin-top: 20px;
    transition:transform .6s ease;

}

aside ul li:hover, aside ul a:hover {
    color: #fff;
    text-decoration: none;
    transform: scale(1.10);
}

main .features {
    float: right;
    color: #fff;
    margin-top: 100px;
    text-align: center;
    width: 75%;

}

main .features h1{font-size: 50px;}
main .features p{max-width: 400px; margin: 20px auto}

